body {
    margin: 0%;
    height: 100%;
    overflow-y: hidden;
}

.game {
    background-color: blue;
    height:900px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    background-color: aquamarine;
    height: 800px;
    width: 1150px;
    border-radius: 1%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-columns: repeat(8,1fr);
    place-items: center;
}

.tempText {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
    font-size: 5rem;
    color: rgb(117, 0, 226);
}

.card {
    height: 150px;
    width: 130px;
    background-color: brown;
    border-radius: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.knapper {
    margin-top: 25px;

}

.knapp {
    border-radius: 10px;
}